.card-parent {
  background-color: #fff;
  width: 22%;
  border: 1px solid black;
  box-shadow: #fff;
  margin-bottom: 20px;
  border-radius: 3px;
}
.product-image {
  display: flex;
  justify-content: center;
  width: 260px;
  height: 260px;
}

.product-card-info {
  display: flex;
  font-family: Inter;
  justify-content: space-around;
  padding-bottom: 20px;
}
.cart-add-button {
  margin-left: 28px;
}
/* modal css */
#modal-heading {
  text-orientation: sideways;
}
.modal-close {
  margin: -8px -8px -8px 108px;
}
.modal-image {
  width: 70%;
}
.item-quantity {
  display: flex;
}
.modal-image {
  width: 348px;
  height: 348px;
}
.modal-product-price {
  padding-bottom: 12px;
}
